// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  padding: 0px;
  margin: 0px;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
}

.posts img {
  width: 100%;
}